body {
  background: #3c3f41;
  color: white;
  font-family: monospace;
  overflow-x: hidden;
}

img.icon-btns {
  width: 24px;
  height: 24px;
  background-color: #2B2B2B;
}

div.float-left {
  float: left;
}

div.float-right {
  float: right;
}

